将美股测试数据转换为A股日历

In [1]:
import pandas as pd
import os

In [2]:
from cnswd.websource.wy import fetch_history

In [3]:
symbol='000002' # A股指数时间时间跨度更大

In [4]:
df = fetch_history(symbol,None,is_index=True)

In [5]:
# 2006 年 241个交易日
df[df.index.year == 2006]

,股票代码,名称,收盘价,最高价,最低价,开盘价,前收盘,涨跌额,涨跌幅,换手率,成交量,成交金额,总市值,流通市值,成交笔数
日期,,,,,,,,,,,,,,,
2006-12-29,'000002,Ａ股指数,2815.132,2839.917,2719.974,2719.974,2701.092,114.040,4.2220,NaN,85905396,5.874779e+10,NaN,NaN,NaN
2006-12-28,'000002,Ａ股指数,2701.092,2747.635,2661.465,2670.614,2667.925,33.167,1.2432,NaN,77699788,5.015006e+10,NaN,NaN,NaN
2006-12-27,'000002,Ａ股指数,2667.925,2670.335,2588.361,2606.428,2608.194,59.731,2.2901,NaN,71232834,4.480340e+10,NaN,NaN,NaN
2006-12-26,'000002,Ａ股指数,2608.194,2635.678,2550.291,2563.857,2561.655,46.539,1.8168,NaN,71582769,4.455146e+10,NaN,NaN,NaN
2006-12-25,'000002,Ａ股指数,2561.655,2579.227,2471.067,2471.067,2464.205,97.450,3.9546,NaN,73306394,4.755404e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-01-10,'000002,Ａ股指数,1282.410,1282.569,1264.742,1277.545,1277.394,5.016,0.3927,NaN,25948871,1.328760e+10,NaN,NaN,NaN
2006-01-09,'000002,Ａ股指数,1277.394,1279.156,1266.678,1272.226,1271.298,6.096,0.4795,NaN,27900879,1.399938e+10,NaN,NaN,NaN
2006-01-06,'000002,Ａ股指数,1271.298,1277.751,1252.686,1260.308,1258.710,12.588,1.0001,NaN,33672095,1.695015e+10,NaN,NaN,NaN
2006-01-05,'000002,Ａ股指数,1258.710,1259.313,1241.324,1244.355,1241.893,16.817,1.3541,NaN,28954587,1.462010e+10,NaN,NaN,NaN
2006-01-04,'000002,Ａ股指数,1241.893,1241.933,1221.802,1223.932,1220.929,20.964,1.7171,NaN,23009446,1.190075e+10,NaN,NaN,NaN

In [6]:
df = df['涨跌幅']

In [7]:
df.index.name = 'date'

In [8]:
df.name = 'return'

In [9]:
df.sort_index(inplace=True)

In [10]:
df = df / 100.0

In [11]:
df.tz_localize('UTC')

date
1990-12-19 00:00:00+00:00         NaN
1990-12-20 00:00:00+00:00    0.044109
1990-12-21 00:00:00+00:00    0.045407
1990-12-24 00:00:00+00:00    0.049666
1990-12-25 00:00:00+00:00    0.049760
                               ...
2020-08-27 00:00:00+00:00    0.006109
2020-08-28 00:00:00+00:00    0.016058
2020-08-31 00:00:00+00:00   -0.002411
2020-09-01 00:00:00+00:00    0.004399
2020-09-02 00:00:00+00:00   -0.001723
Name: return, Length: 7255, dtype: float64

In [12]:
STATIC_BENCHMARK_PATH = os.path.join(
    'cn_stock',
    'market_data',
    f'{symbol}.csv',
)

In [13]:
df.tz_localize('UTC').to_csv(STATIC_BENCHMARK_PATH, index_label='date')