将美股测试数据转换为A股日历

In [1]:
import pandas as pd
from zipline.testing import test_resource_path

In [2]:
asset_start = pd.Timestamp('2012-01-03', tz='utc')
asset_end = pd.Timestamp('2014-12-31', tz='utc')

In [3]:
symbols = 'AAPL', 'IBM', 'KO', 'MSFT'

In [4]:
def per_symbol(symbol):
    df = pd.read_csv(
        test_resource_path('csvdir_samples', 'csvdir',
                            'daily', symbol + '.csv.gz'),
        parse_dates=['date'],
        index_col='date',
        # usecols=[
        #     'open',
        #     'high',
        #     'low',
        #     'close',
        #     'volume',
        #     'date',
        #     'dividend',
        #     'split',
        # ],
        na_values=['NA'],
    )
    # df.index.name = 'date'
    print(df.columns)
    return df

In [5]:
from trading_calendars import get_calendar

In [6]:
calendar = get_calendar('XSHG')

In [7]:
cn_index = calendar.sessions_in_range(asset_start, asset_end)

In [8]:
len(cn_index)

726

In [9]:
OHLCV = ['open', 'close','high','low','volume']

In [10]:
for symbol in symbols:
    df = per_symbol(symbol)
    cn_df = df.reindex(cn_index.tz_localize(None))
    # print(len(cn_df))
    cn_df.loc[:, OHLCV].fillna(method='ffill', inplace=True)
    cn_df.fillna(0.0, inplace=True)
    # cn_df.reset_index(inplace=True)
    # cn_df.rename(columns={'index':'date'}, inplace=True)
    target = test_resource_path('cn_stock', 'csvdir_samples', 'csvdir','daily', symbol + '.csv.gz')
    cn_df.to_csv(target,index_label='date')

Index(['open', 'high', 'low', 'close', 'volume', 'dividend', 'split'], dtype='object')
Index(['open', 'high', 'low', 'close', 'volume', 'dividend', 'split'], dtype='object')
Index(['open', 'high', 'low', 'close', 'volume', 'dividend', 'split'], dtype='object')
Index(['open', 'high', 'low', 'close', 'volume', 'dividend', 'split'], dtype='object')

In [11]:
cn_df

,open,high,low,close,volume,dividend,split
2012-01-04,26.820000,27.469999,26.780001,27.400000,80516100.0,0.0,1.0
2012-01-05,27.379999,27.730000,27.290001,27.680000,56081400.0,0.0,1.0
2012-01-06,27.530001,28.190001,27.530001,28.110001,99455500.0,0.0,1.0
2012-01-09,28.049999,28.100000,27.719999,27.740000,59706800.0,0.0,1.0
2012-01-10,27.930000,28.150000,27.750000,27.840000,60014400.0,0.0,1.0
...,...,...,...,...,...,...,...
2014-12-25,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
2014-12-26,48.410000,48.410000,47.820000,47.880001,13197800.0,0.0,1.0
2014-12-29,47.700001,47.779999,47.259998,47.450001,14439500.0,0.0,1.0
2014-12-30,47.439999,47.619999,46.840000,47.020000,16384700.0,0.0,1.0
2014-12-31,46.730000,47.439999,46.450001,46.450001,21552500.0,0.0,1.0

In [12]:
df = pd.read_csv(
    target,
    parse_dates=['date'],
    index_col='date',
    usecols=[
        'open',
        'high',
        'low',
        'close',
        'volume',
        'date',
        'dividend',
        'split',
    ],
    na_values=['NA'],
)

In [13]:
df

,open,high,low,close,volume,dividend,split
date,,,,,,,
2012-01-04,26.820000,27.469999,26.780001,27.400000,80516100.0,0.0,1.0
2012-01-05,27.379999,27.730000,27.290001,27.680000,56081400.0,0.0,1.0
2012-01-06,27.530001,28.190001,27.530001,28.110001,99455500.0,0.0,1.0
2012-01-09,28.049999,28.100000,27.719999,27.740000,59706800.0,0.0,1.0
2012-01-10,27.930000,28.150000,27.750000,27.840000,60014400.0,0.0,1.0
...,...,...,...,...,...,...,...
2014-12-25,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
2014-12-26,48.410000,48.410000,47.820000,47.880001,13197800.0,0.0,1.0
2014-12-29,47.700001,47.779999,47.259998,47.450001,14439500.0,0.0,1.0
2014-12-30,47.439999,47.619999,46.840000,47.020000,16384700.0,0.0,1.0
2014-12-31,46.730000,47.439999,46.450001,46.450001,21552500.0,0.0,1.0